<div class="container">
  <!--div *ngIf="adicionado" class="alert alert-success" role="alert"-->
  <div [hidden]="!adicionado" class="alert alert-success" role="alert">
    Funcionário adicionado: <strong>{{title}}</strong>
  </div>

  <div class="form-group">
    <label>Nome</label>
    <!--input type="text" class="form-control" [(ngModel)]="title" (focus)="adicionado = false"-->
    <input type="text" class="form-control" [(ngModel)]="title" (focus)="adicionado = false">
  </div>

  <button type="button" class="btn btn-primary"
          (click)="adicionar()" [disabled]="title.length == 0">Adicionar</button>

</div>
